
@font-face {
  font-family: 'RobotoSlab-Regular';
  font-family: 'Minion-Pro-Regular';
  font-family: 'RobotoCondensed-Regular';
  font-family: 'IBMPlexSerif-Regular';
  font-family: 'IBMPlexSerif-Light';
  font-family: 'IBMPlexSerif-Italic';
  font-family: 'IBMPlexSerif-Bold';
  font-family: 'IBMPlexSans-SemiBold';
  font-family: 'IBMPlexSans-Regular';
  font-family: 'AmericanTypewriter';
  font-family: 'AdobeFnt23';

  src: url(Fonts/Document\ fonts/RobotoSlab-Regular.ttf);
  src: url(Fonts/Document\ fonts/Minion-Pro-Regular.ttf);
  src: url(Fonts/Document\ fonts/RobotoCondensed-Regular.ttf);
  src: url(Fonts/Document\ fonts/IBMPlexSerif-Regular.ttf);
  src: url(Fonts/Document\ fonts/IBMPlexSerif-Light.ttf);
  src: url(Fonts/Document\ fonts/IBMPlexSerif-Italic.ttf);
  src: url(Fonts/Document\ fonts/IBMPlexSerif-Bold.ttf);
  src: url(Fonts/Document\ fonts/IBMPlexSans-SemiBold.ttf);
  src: url(Fonts/Document\ fonts/IBMPlexSans-Regular.otf);
  src: url(Fonts/Document\ fonts/AmericanTypewriter.ttc);
  src: url(Fonts/Document\ fonts/AdobeFnt23.lst);
}

.page-size{
  height: 900px;
  width: 640px;
}

.leftside, .rightside{
  background-color: white;
  
}

.header-size {
  height: 50px;
}

.sect-color{
  background-color: #008e8c;
}

.second-sect-color{
  background-color: #ffe696;
}

.first-sect-color{
  background-color: #ffca00;
}

.first-sect-element{
  color: #787245;
  font-family: "RobotoSlab-Regular";
  font-size: 13px;
}

.border-c {
  border: 2px dotted #7e9513 !important;
}

.description-set{
  color: #7e9513;
  font-size: 14px;
  font-size: "IBMPlexSans-Regular";
  transform: translate(-13px);
}

.description-list {
  list-style-type: none; 
  counter-reset: custom-counter; 
}

.description-number {
 color: #7e9513;
}

.description-test{
 font-size: 104%;
}

.a-element{
  color: #369b96;
  font-size: 15px;
  font-family: "IBMPlexSans-Regular";
}

.explorer-section{
  background-color: #008e8c;
  border-radius: 50%;
  max-width: 4vw;
  max-height: 4vh;
 
}

.separator {
  border-top: 1px solid #008e8c;
}

.separator-red {
  border-top: 1px solid #d04365;
}

.color-red{
  color: #d04365
}

.quiz-tbl td {
  font-size: 12px;
  text-align: center;
  color: #d03f63;
  font-weight: 500;
  border: 2px solid white;
}

.element-color {
  color: #008e8c; 
}

.text-line-1{
  font-size: 10px;
  margin: 3px; 
}
.text-line-2{
  font-size: 10px;
  margin: 0; 
}

.text-line-3{
  font-size: 10px; 
}

.element-single-col{
  background-color: #fbf9e8;
}

.bolded {
  font-weight: bold;
}

.emphasized { 
  font-style: italic;
 }

.p {
  margin: 0;
  padding: 0;
}

.pg-nr {
  font-size: 14px;
  transform: translate(-12px);
  color: #008e8c;
  font-weight: bold;
}

.pg-nr-right {
  font-size: 14px;
  transform: translate(39px);
  color: #008e8c;
  font-weight: bold;
}

.color-test{
color: #f09724;
}

.color{
  color: #7e9513;
}

.first-element{
  color: white;
}

.r-1 {
  height: 30px;
}

.r-2 {
  height: 170px;
}



.second-element{
  color: #0f9a72;
  font-family: "RobotoSlab-Regular";
  font-size: 13px;
  font-weight: bolder;
}

.t-element{
  color: #787245;
  font-family: "RobotoSlab-Regular";
  font-size: 13px;
}

.section-element{
  font-size: 17px;
  color: #f9a51b;
  font-weight: bolder
}

.background-sec{
  color: #d24567;
}

.red-dot {
  color: #d04365;
}

.bag-col{
  background-color: #f8e8e8;
  height: 18 px;
}

.repere {
  background-color: #fff5c5;
  color: #ec9b13;
}

.repere-bg {
  background-color: #fefbec;
}
